body{
    background-color: orange;
}
.div1{
    width: 400px;
    height: 400px;
    background-color: black;
    position: absolute;
    left: 550px;
    top: 100px;
    border-radius: 10px;
    border: solid 2px blue;
}
h1{
    color: white;
    position: relative;
    left: 100px;
}
.btn1{
    margin-left: 80px;
}